<a href="https://colab.research.google.com/github/mehedihasan1241/mehedi-EEE/blob/main/Mid_Term.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

9.You are given a number. Write a Python program to print whether it is odd or even.

In [ ]:
n = int(input())
if n%2==0:
  print("even")
else:
  print("odd")

2345
odd

11.You are given a year. Write a Python program to print whether it is leap year or not.

In [ ]:
n = int (input("enter a year"))
if (n%4==0 and n%100!=0) or (n%400==0):
  print("Leap year")
else:
  print("Not Leap year")

enter a year2004
Leap year

12.You are given the coefficients a, b & c of a quadratic equation. Write a Python program to
find its solution

In [ ]:
import math
a = int (input())
b = int(input())
c = int(input())
x1 = (-b + math.sqrt(b**2 - 4*a*c))/2*a
x2 = (-b -math.sqrt (b**2 - 4*a*c))/2*a
print(x1)
print(x2)

1
7
12
-3.0
-4.0

.You are given the coefficients a, b & c of a quadratic equation. Write a Python program to find its solution possible or not

In [ ]:
import math
a = int (input())
b = int(input())
c = int(input())
if b**2 - 4*a*c >=0 :
  print(" possible")
  x1 =( -b + math.sqrt (b**2 -4*a*c))/2*a
  x2 = (-b -math.sqrt (b**2 - 4*a*c))/2*a
  print (x1)
  print (x2)
else:
  print("Not possible")

3
4
5
Not possible

13.You are given the radius of a circle. Write a program to find the area of the square
inscribed inside the circle.

In [ ]:

r = int (input())
area = (3.1416*r**2 - (r**2))
print (area)

3
19.2744

14. You are given the mark of a student. Write a program to find his grade. [0-39: F, 40-49: E,
50-59: D, 60-69: C, 70-79: B, 80-100: A]

In [ ]:
n = int (input())
if n<=39:
    print("F")
elif n<=49:
    print ("E")
elif n<=59:
    print ("D")
elif n<=69:
    print ("C")
elif n<=79:
    print ("B")
else:
    print ("A")

22
F

15.You are given a number. Write a program to print whether it is prime or not

In [ ]:
n = int(input())

divisor_count =0
for i in range(2,n):

 if n%i==0:
      divisor_count = divisor_count+1
if divisor_count ==0:
     print("Prime")
else:
      print("Not Prime")

11
Prime

16. You are given a range defined by two integers. Write a program to print those which are
leap years in the range

In [ ]:
a = int(input())
b = int(input())
print(" leap yaer between {a} and {b} are:")

for i in range (a, b+1):
  if  (i%4==0 and i%100!=0) or (i%400==0):
    print(i)

1990
2033
 leap yaer between {a} and {b} are:
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032

17.You are given a range defined by two integers. Write a program to print the prime
numbers inside the range.

In [ ]:
a = int (input("enter the first number:"))
b= int (input("entere the second number:"))
divisor_count =0


for i in range (a, b+1):

  if n%i==0:
      divisor_count = divisor_count+1
if divisor_count ==0:
  print("prime:" ,i)
else:
  print("Not prime")

enter the first number:11
entere the second number:33
Not prime

In [ ]:
N = int(input("Enter the number:"))
total_sum = 0
for i in range (N):
  num = float(input(f"Enter number {i+1}: "))
  total_sum = total_sum+ num
average = total_sum/N
print(average)

Enter the number:3
Enter number 1: 2
Enter number 2: 4
Enter number 3: 5
3.6666666666666665

19. Let’s assume a series as: 1+3+5+7+ … + N. You will be given N as input. Write a
program that can print the sum of this series up to N.

In [ ]:
N= int(input())
total_Sum =0
for i in range (1,N+1,2):
   total_Sum = total_Sum+i
print(total_Sum)

12
36

20. You are given three integers: a, b & c. Write a program to find the minimum of these
three numbers.

In [ ]:
a = int(input())
b = int(input())
c = int(input())
minimum_value = min(a,b,c)
print(minimum_value)

 3
4
6
3

21.You will be given an integer N and then N numbers. Write a program to find the
maximum value of those numbers.

In [ ]:
N = int(input())
numbers = []
for i in range (N):
 num = int(input(f"Enter the numbers {i+1}:"))
 numbers.append(num)
 maximum_value = max(numbers)
print(maximum_value)

4
Enter the numbers 1:4
Enter the numbers 2:6
Enter the numbers 3:8
Enter the numbers 4:99
99

22. Write a program to swap the values of two variables

In [ ]:
a = 3
b = 6
c = a
a = b
b = c
print(a)
print(b)

6
3

23.You will be given 2 3X3 matrices. Write a program to add the matrices

In [ ]:
for i in range (5):
  print(i)

0
1
2
3
4

In [ ]:
def division (a,x)

     return a/x

In [ ]:
def sqrt

In [ ]:
s = "abc"
print(s[-1])

c

In [ ]:
s ="abcdef"
print(s[-1:1])

In [ ]:
s1 = "abc"

s2 = "xyz"

print(s1+s2)

abcxyz

In [ ]:
class Bird:
  def __init__(self,typ,color):
    self.typ = typ
    self.color = color
  def call(self,s):
      return " Call is:" +s

In [ ]:
crow = Bird ("crow", "Black")
ostrich = Bird ("Ostrich", "brown")
print(crow.typ)

crow

In [ ]:
print ( crow.call("kaa"))

 Call is:kaa

In [ ]:
class cutomer:
  def __init__(self, name, id, kototaka):
    self.name = name
    self.id = id
    self.kototaka = 0
  def Calculatekototaka(self, price):
      self.kototaka = self.kototaka + price